:root {
  --default-padding: 1rem 2rem 3rem;
}

.container {
  height: 100%;
}

.markdown-title {
  color: #e3e3e3;
  background: #1e1f22;

  padding: 0.6rem 2rem;

  font-size: 0.8rem;
  letter-spacing: 1px;

  position: sticky;
  top: 0;
}

.markdown-editor,
.markdown-preview {
  padding: var(--default-padding);
  background: var(--editor-background);

  &,
  textarea {
    color: var(--editor-color);
    height: 100%;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  textarea {
    width: 100%;
    resize: none;
    line-height: 1.5;

    background: transparent;

    outline: 0;
    border: 0;
  }
}

.markdown-preview {
  font-size: 0.7rem;

  overflow-y: auto;

  // markdown styles
  p {
    margin: 0.25rem 0;
    line-height: 2;

    code {
      background: #1e1f22;
      color: #fff;
      padding: 0.2rem 0.4rem;
      border-radius: 0.2rem;
    }
  }

  ul,
  ol {
    margin-bottom: 0.5rem;

    li {
      margin-left: 2rem;
    }
  }

  pre {
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background: #1e1f22;
    color: #fff;

    line-height: 1.7;
  }

  ul li::marker {
    color: var(--main-color);
  }

  blockquote {
    border-left: 4px solid var(--main-color);
    padding: 0.5rem 1rem;
    border-radius: 0 0.2rem 0.2rem 0;
    color: #fff;
    background: #2c2d30;

    margin: 1rem 0;
    font-weight: 600;

    a {
      text-decoration: underline;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--dark-text-color);
    font-weight: 600;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 200;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }
}
